[submodule "mscs_utrgv_cs6330_intro_2_ds"]
	path = mscs_utrgv_cs6330_intro_2_ds
	url = git@github.com:intothedeep/mscs_cs6330_intro_2_ds.git
[submodule "mscs_utrgv_cs6371_robot"]
	path = mscs_utrgv_cs6371_robot
	url = git@github.com:intothedeep/mscs_utrgv_cs6371_robot.git
